@model Demo.BLL.Models.ForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="All"></div>
            <input class="text email" type="email" asp-for="@Model.Email" placeholder="Email" required="">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
            <input type="submit" value="Forget Password">
        </form>
    </div>
</div>

