@model Demo.BLL.Models.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All"></div>
            @* tokenوال email المفروض ان الايميل والتوكين دول هياخدو القيمه بتاعتهم من اللينك لان اللينك كدا كدا جايليى فيه ال *@
            <input asp-for="Email" type="hidden">
            <input asp-for="Token" type="hidden">
            <input class="text email" type="password" asp-for="NewPassword" placeholder="Password" required="">
            <input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>

